<mat-toolbar *ngIf="!isHomePage() && !isLoginPage() && !isRegisterPage()" color="primary">
  <a [routerLink]="'/'" mat-icon-button aria-label="Ir al inicio">
    <mat-icon>menu_books</mat-icon>
  </a>
  <span>Portal de exámenes</span>
  <span class="example-spacer"></span>
  <ng-container *ngIf="!login.isLoggedIn()">
    <a [routerLink]="'/login'" mat-button>Iniciar sesión</a>
    <a [routerLink]="'/signup'" mat-button>Registrar</a>
  </ng-container>
  <ng-container *ngIf="login.isLoggedIn()">
    <button mat-button style="margin-right: 10px;" routerLink="/admin/profile">
      {{ user?.username || user.username }}
    </button>
    <a (click)="logout()" mat-button>Cerrar sesión</a>
  </ng-container>
</mat-toolbar>
