<div class="background">
  <div class="overlay"></div>
</div>

<div class="register-page">
  <div class="register-container">
    <mat-card class="register-card">
      <div class="logo-container">
        <img src="../../../assets/icon.png" width="100" height="100">
      </div>

      <h1 class="register-title">Regístrate aquí</h1>

      <form (ngSubmit)="formSubmit()">
        <!-- Campo de Nombre de Usuario -->
        <div class="custom-form-field">
          <label for="userName">Nombre de usuario</label>
          <input id="userName" [(ngModel)]="user.userName" name="userName" required placeholder="Digite su nombre de usuario" class="custom-input">
        </div>

        <!-- Campo de Contraseña -->
        <div class="custom-form-field">
          <label for="password">Contraseña</label>
          <input id="password" [(ngModel)]="user.password" name="password" required type="password" placeholder="Digite su contraseña" class="custom-input">
        </div>

        <!-- Campo de Nombre -->
        <div class="custom-form-field">
          <label for="nombre">Nombre</label>
          <input id="nombre" [(ngModel)]="user.nombre" name="nombre" required placeholder="Digite su nombre" class="custom-input">
        </div>

        <!-- Campo de Apellido -->
        <div class="custom-form-field">
          <label for="apellido">Apellido</label>
          <input id="apellido" [(ngModel)]="user.apellido" name="apellido" required placeholder="Digite su apellido" class="custom-input">
        </div>

        <!-- Campo de Email -->
        <div class="custom-form-field">
          <label for="email">Email</label>
          <input id="email" [(ngModel)]="user.email" name="email" required type="email" placeholder="Digite su email" class="custom-input">
        </div>

        <!-- Campo de Teléfono -->
        <div class="custom-form-field">
          <label for="telefono">Teléfono</label>
          <input id="telefono" [(ngModel)]="user.telefono" name="telefono" required placeholder="Digite su teléfono" class="custom-input">
        </div>

        <div class="button-group">
          <button class="btn-register" type="submit">Registrar</button>
          <button type="reset" class="btn-reset">Limpiar</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
