.background {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 122vh;
  background: url('../../../assets/fondo-login.jpg') no-repeat center center/cover;
}

/* Capa de oscurecimiento */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Oscurecimiento */
}

.register-page {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caja del formulario */
.register-container {
  width: 50%;
  padding: 20px;
}

.register-card {
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
}

/* Estilos de los campos de formulario (input y label) */
.custom-form-field {
  margin-bottom: 20px;
}

.custom-form-field label {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-input::placeholder {
  color: white;
  opacity: 0.8;
}

.custom-input:focus {
  border-color: #035096;
  outline: none;
}


/* Logo */
.logo-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Título */
.register-title {
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

/* Grupo de botones */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Botón Registrar con mismo estilo que Iniciar Sesión */
.btn-register {
  flex: 1;
  padding: 10px;
  border: none;
  background: #035096;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}

.btn-register:hover {
  background: #003366;
}

/* Botón Limpiar */
.btn-reset {
  flex: 1;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-reset:hover {
  background: rgba(255, 255, 255, 0.5);
}
