body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000080; /* Azul oscuro */
}

/* Fondo con desenfoque */
.background {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../../assets/fondo-login.jpg') no-repeat center center/cover;
}

/* Capa de oscurecimiento */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Oscurecimiento */
}

/* Contenedor del login */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.074); /* Menos opaco */
  backdrop-filter: blur(3px); /* Blur más sutil */
  border-radius: 15px;
  border: 2px solid white;
  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 20px;
  color: white; /* Asegurar que el título sea blanco */
}

/* Campo de formulario personalizado */
.custom-form-field {
  text-align: left;
  margin-bottom: 15px;
}

.custom-form-field label {
  display: block;
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Estilos del input */
.custom-input {
  width: 100%;
  padding: 10px;
  border: 2px solid white; /* Borde blanco */
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
}

/* Placeholder en color blanco */
.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Cuando el input está enfocado */
.custom-input:focus {
  border-color: #ffffff; /* Borde blanco aún más visible */
}

/* Botón principal */
.btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  background: #035096; /* Azul medio */
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #003366; /* Azul más oscuro */
}

/* Botón de limpiar */
.btn-outline {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.2);
}

.extra-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo-container img {
  width: 100px;
  height: auto;
}

.btn-register {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-register:hover {
  background: rgba(255, 255, 255, 0.2);
}
