<mat-card style="margin-left: 10px; margin-top: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px;">
  <h1 class="card-title">Detalles del perfil</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="text-center">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
          alt="Imagen de perfil" class="profile-image">

          <h2 class="mt20">{{ user.nombre }}  {{ user.apellido }}</h2>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table text-center">
              <tr>
                <td><strong>Nombre de usuario</strong></td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td><strong>Email</strong></td>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <td><strong>Teléfono</strong></td>
                <td>{{ user.telefono }}</td>
              </tr>
              <tr>
                <td><strong>Rol</strong></td>
                <td>{{ user.authorities[0].authority }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
