<div class="categoria-grid">
  <mat-card *ngFor="let c of categorias" class="categoria-item">
    <mat-card-content class="categoria-card-content">
      <mat-icon class="categoria-icon">category</mat-icon>
      <div class="categoria-info">
        <h3>{{ c.title }}</h3>
        <p>{{ c.description }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions class="categoria-actions">
      <button mat-stroked-button color="accent" (click)="editarCategoria(c)">
        <mat-icon>edit</mat-icon> Editar
      </button>
      <button mat-stroked-button color="warn" (click)="eliminarCategoria(c.id)">
        <mat-icon>delete</mat-icon> Eliminar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
