<mat-card class="form-card">
  <h2 class="form-title">Agregar nueva categoría</h2>
  <mat-card-content>
    <form (ngSubmit)="formSubmit()" class="form-content">

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Título</mat-label>
        <input
          type="text"
          matInput
          name="title"
          required
          autofocus
          placeholder="Digite el título de la categoría"
          [(ngModel)]="categoria.title" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          name="description"
          placeholder="Digite la descripción de la categoría"
          rows="8"
          [(ngModel)]="categoria.description">
        </textarea>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary">Guardar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
