<mat-card class="form-card">
  <h2 class="form-title">Agregar nuevo examen</h2>
  <mat-card-content>
    <form (ngSubmit)="guardarCuestionario()" class="form-content">

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Título</mat-label>
        <input
          matInput
          type="text"
          name="title"
          required
          placeholder="Digite el título"
          [(ngModel)]="examenData.title" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          name="description"
          placeholder="Digite la descripción"
          rows="6"
          [(ngModel)]="examenData.description">
        </textarea>
      </mat-form-field>

      <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Puntos máximos</mat-label>
          <input
            matInput
            type="number"
            name="pointsMax"
            placeholder="Digite la cantidad de puntos"
            [(ngModel)]="examenData.pointsMax" />
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Número de preguntas</mat-label>
          <input
            matInput
            type="number"
            name="numberQuestions"
            placeholder="Digite el número de preguntas"
            [(ngModel)]="examenData.numberQuestions" />
        </mat-form-field>
      </div>

      <mat-slide-toggle color="primary" [(ngModel)]="examenData.active" name="active">
        Estado de publicación
      </mat-slide-toggle>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Categorías</mat-label>
        <mat-select [(ngModel)]="examenData.category.categoryId" name="category">
          <mat-option *ngFor="let c of categorias" [value]="c.categoryId">
            {{ c.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary">Guardar</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
