<mat-nav-list>
  <a mat-list-item routerLink="/admin" routerLinkActive="active-link">
    <mat-icon class="menu-icon">home</mat-icon>
    <span class="menu-text">Inicio</span>
  </a>
  <a mat-list-item routerLink="/admin/profile" routerLinkActive="active-link">
    <mat-icon class="menu-icon">person</mat-icon>
    <span class="menu-text">Perfil</span>
  </a>
  <a mat-list-item routerLink="/admin/categorias" routerLinkActive="active-link">
    <mat-icon class="menu-icon">list</mat-icon>
    <span class="menu-text">Categorías</span>
  </a>
  <a mat-list-item routerLink="/admin/add-categoria" routerLinkActive="active-link">
    <mat-icon class="menu-icon">add_circle</mat-icon>
    <span class="menu-text">Agregar categoría</span>
  </a>
  <a mat-list-item routerLink="/admin/examenes" routerLinkActive="active-link">
    <mat-icon class="menu-icon">assignment</mat-icon>
    <span class="menu-text">Cuestionarios</span>
  </a>
  <a mat-list-item routerLink="/admin/add-examen" routerLinkActive="active-link">
    <mat-icon class="menu-icon">note_add</mat-icon>
    <span class="menu-text">Agregar cuestionario</span>
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon class="menu-icon">logout</mat-icon>
    <span class="menu-text">Salir</span>
  </a>
</mat-nav-list>
